/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
saved-env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.testing
storage/logs
storage/kafka
storage/zookeeper
/public/uploads/
/laradock*/
_ide_helper*.php
.phpstorm.meta.php
/.vagrant
html_coverage
Vagrantfile
after.sh
aliases
.php_cs.cache
.php-cs-fixer.cache
/psalm_cache/
/public/vendor
/app/Containers/Vendor

